.image-2-icon {
  width: 1440px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.web-capture-21-11-2023-10557-w-icon {
  height: 151px;
  width: 161px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.footer-frame{
  width: 100%;
}
.scoot-scoot-rectangle {
  height: 64px;
  flex: 1;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gold);
  z-index: 1;
}
.log-in {
  height: 50px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 133.12%;
  display: inline-block;
  font-family: var(--font-crimson-pro);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
  z-index: 2;
  margin-left: -163px;
}
.from-kitchen-to-table {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-kitchen-to-table-child {
  height: 64px;
  flex: 1;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gold);
  z-index: 1;
}
.register {
  width: 191px;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 133.12%;
  display: inline-block;
  font-family: var(--font-crimson-pro);
  color: var(--color-black);
  text-align: left;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -179px;
}
.from-kitchen-to-table1,
.log-in-register {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-kitchen-to-table1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  width: 212px;
}
.log-in-register {
  width: 477px;
  height: 66px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 8px;
  max-width: 100%;
}
.web-capture-21-11-2023-10557-w-icon1 {
  width: 255px;
  position: absolute;
  margin: 0 !important;
  bottom: -60px;
  left: -233px;
  height: 222px;
  object-fit: cover;
  z-index: 1;
}
.span {
  color: var(--color-white);
}
.to-your-table {
  color: #cfd1e9;
}
.from-kitchen-to-container {
  margin: 0;
  height: 145px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 133.12%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.become-a-partner,
.register-frame,
.storefront-rectangle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.become-a-partner {
  width: 506px;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  position: relative;
}
.register-frame,
.storefront-rectangle {
  align-self: stretch;
  justify-content: flex-end;
}
.register-frame {
  flex-direction: column;
  justify-content: flex-start;
  gap: 27px;
}
.register-frame-wrapper,
.webcapture-logo {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.register-frame-wrapper {
  width: 537px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 44px 0 0;
}
.webcapture-logo {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 203px 0;
  background-image: url(./public/image-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 72px;
  color: #b5dde9;
  font-family: var(--font-crimson-pro);
}
.scootscoot-1-icon {
  width: 229px;
  height: 229px;
  position: relative;
  object-fit: cover;
}
.become-a-rider,
.blank-line {
  margin: 0;
}
.as-a-delivery-driver-youll-m {
  margin: 0;
  font-size: var(--inter-size);
}
.blank-line1 {
  font-size: var(--font-size-13xl);
}
.starting-earning {
  margin: 0;
  font-size: var(--inter-size);
}
.blank-line2 {
  margin: 0;
}
.become-a-rider-container {
  align-self: stretch;
  height: 239px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.help-about-us-blog-jobs-contac {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  font-size: var(--font-size-13xl);
}
.storefront-1-icon {
  height: 229px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.kvmetgmailcom-sri-lanka-f-r-a {
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 17px;
  box-sizing: border-box;
}
.blank-line3 {
  margin: 0;
}
.become-a-partner1 {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.blank-line4,
.blank-line5,
.blank-line6,
.blank-line7,
.grow-your-business,
.starting-earning1 {
  margin: 0;
}
.become-a-partner-container {
  align-self: stretch;
  height: 175px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.pajamasmailtdesignlocation-f-r {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.picture1-1-icon {
  height: 229px;
  width: 227px;
  position: relative;
  object-fit: cover;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px;
}
.blank-line8 {
  margin: 0;
}
.get-the-best-experience {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.blank-line9,
.experience-the-best,
.get-the-app {
  margin: 0;
}
.get-the-best-container {
  align-self: stretch;
  height: 214px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.header-logo {
  width: 277px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.company-text,
.footer-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.company-text {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-instance {
  width: 1288px;
  justify-content: flex-start;
  padding: 0 30px 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--inter-size);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.company-logo {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.company {
  height: 42.2px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.about-us,
.blog,
.contact,
.help,
.jobs,
.privacy-notice,
.terms-condition {
  margin: 0;
}
.help-about-us-container {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.email-contact,
.social-media {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
}
.email-contact {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 116px;
}
.download-the-app {
  position: relative;
  line-height: 133.12%;
  font-weight: 500;
  display: inline-block;
  height: 21.7px;
  z-index: 1;
}
.help-links {
  width: 405px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
  max-width: 100%;
}
.contact-us {
  height: 42.2px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.pajama-mail-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.pajamasmail-icon,
.primephone-icon,
.tdesignlocation-icon {
  width: 32px;
  height: 28.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pajamasmail-icon,
.tdesignlocation-icon {
  width: 30px;
  height: 26.4px;
}
.phone-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.div {
  z-index: 3;
}
.div,
.kvmet2023gmailcom,
.sri-lanka {
  height: 42.2px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.kvmet2023gmailcom {
  white-space: nowrap;
  z-index: 4;
}
.sri-lanka {
  z-index: 1;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-contact {
  flex: 1;
  flex-direction: column;
  padding: 4px 0 0;
}
.contact-us-btn,
.footer-contact,
.k-v-mail-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.k-v-mail-logo {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.contact-us-btn {
  width: 277px;
  flex-direction: column;
  padding: 0 5px 0 0;
  box-sizing: border-box;
}
.logo {
  height: 42.2px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.chsghjsdgjvhsdgd-jhvj-ideikshf,
.dbv-dvbd-dsjhalk,
.dhvghsvj-dsjhksj-sdh,
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd1 {
  margin: 0;
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd {
  width: 324px;
  height: 147.6px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.fa6-brandssquare-twitter-icon {
  height: 25.8px;
  width: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.entypo-socialfacebook-icon,
.vector-entypo-social {
  height: 22.6px;
  width: 27px;
  position: relative;
  z-index: 1;
}
.entypo-socialfacebook-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-lgi);
  margin-top: -55px;
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.app-download,
.main-header {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.main-header {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 7px 0 0;
  box-sizing: border-box;
}
.app-download {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.query-contact-info {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  z-index: 1;
}
.contact-info {
  width: 1250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
  flex-shrink: 0;
}
.for-your-queriescall {
  margin: 0;
}
.for-your-queriescall-container {
  width: 762px;
  position: relative;
  line-height: 133.12%;
  font-weight: 200;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  max-width: 100%;
  z-index: 1;
}
.footer,
.index {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  padding: 33px var(--padding-xl) 47px 22px;
  box-sizing: border-box;
  gap: 48px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--inter-size);
  color: var(--color-darkslategray);
  font-family: var(--inter);
}
.index {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  letter-spacing: normal;
}
@media screen and (max-width: 1100px) {
  .app-download {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .from-kitchen-to-container {
    font-size: 58px;
    line-height: 77px;
  }
  .become-a-rider-container {
    font-size: 26px;
  }
  .company-text {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .webcapture-logo {
    flex-wrap: wrap;
    padding-left: var(--padding-11xs);
    padding-top: var(--padding-11xs);
    padding-bottom: 132px;
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .log-in-register {
    display: none;
  }
  .from-kitchen-to-container {
    font-size: 43px;
    line-height: 58px;
  }
  .become-a-rider-container {
    font-size: 19px;
  }
  .help-about-us-blog-jobs-contac {
    gap: var(--gap-lgi);
  }
  .become-a-partner-container {
    font-size: var(--font-size-base);
  }
  .pajamasmailtdesignlocation-f-r {
    gap: 25px;
  }
  .get-the-best-container {
    font-size: var(--font-size-base);
  }
  .header-logo {
    gap: var(--gap-lgi);
  }
  .company,
  .download-the-app,
  .help-about-us-container {
    font-size: var(--font-size-base);
  }
  .download-the-app {
    line-height: 21px;
  }
  .help-links {
    flex-wrap: wrap;
    gap: 23px;
  }
  .contact-us,
  .div,
  .hjhjkfshjs-dvjhvjhsvkjhvdkjhvd,
  .kvmet2023gmailcom,
  .logo,
  .sri-lanka {
    font-size: var(--font-size-base);
  }
  .for-your-queriescall-container {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .footer {
    padding-top: 21px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}

.from-kitchen-to-table1 a {
  color: inherit;  /* Use the default text color */
  text-decoration: none;  /* Remove underline */
}

.from-kitchen-to-table1 a:hover {
  text-decoration: underline;  /* Add underline on hover if desired */
}

.frame,
.logo-1-icon {
  position: absolute;
  margin: 0 !important;
}
.logo-1-icon {
  width: 176px;
  top: 1000px;
  right:180px;
  height: 183px;
  object-fit: cover;
}
