.top-view-food-frame-with-copy-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.component-1-inner,
.icon {
  position: absolute;
  margin: 0 !important;
}
.component-1-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon {
  width: 51px;
  top: 35px;
  left: 1349px;
  height: 59px;
  object-fit: cover;
  z-index: 1;
}
.home,
.wallet {
  position: relative;
  line-height: 133.12%;
}
.home {
  height: 57px;
  width: 83px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.wallet {
  height: 53px;
}
.registration,
.update-menu,
.wallet {
  display: flex;
  align-items: flex-end;
}
.registration {
  height: 67px;
  position: relative;
  line-height: 133.12%;
}
.update-menu {
  height: 65px;
  white-space: nowrap;
}
.order,
.update,
.update-menu {
  position: relative;
  line-height: 133.12%;
}
.order {
  height: 53px;
  display: flex;
  align-items: flex-end;
}
.update {
  height: 45px;
}
.home-parent,
.log-out,
.update {
  display: flex;
  align-items: flex-end;
}
.log-out {
  height: 40px;
  position: relative;
  line-height: 133.12%;
  white-space: nowrap;
}
.home-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.component-1,
.logout-button {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.logout-button {
  width: 1070px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 10px;
}
.component-1 {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.75);
  flex-direction: row;
  align-items: flex-end;
  padding: 17px 40px 6px 212px;
  position: sticky;
  gap: 67px;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
.footer-frame-icon,
.footer-frame-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.footer-frame-icon1 {
  object-fit: cover;
}
.logo-frame {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.component-frame-child {
  align-self: stretch;
  height: 155.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.component-frame {
  height: 559px;
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px;
  min-width: 138px;
}
.restaurant {
  height: 29px;
  position: relative;
  font-size: 25px;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.component-2 {
  cursor: pointer;
  border: 0;
  padding: 21px;
  background-color: #d27c2c;
  align-self: stretch;
  border-radius: 5.32px;
  box-shadow: 0 2.4px 2.37px rgba(0, 0, 0, 0.25), -2.5px -2.5px 4.73px #fff,
    -1.2px -1.2px 1.18px #fff, 3px 3px 4.14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.component-21:hover,
.component-22:hover,
.component-2:hover {
  background-color: #b86312;
}
.restaurant1 {
  position: relative;
  font-size: 25px;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.component-21 {
  cursor: pointer;
  border: 0;
  padding: 21px;
  background-color: #d27c2c;
  align-self: stretch;
  border-radius: 5.32px;
  box-shadow: 0 2.4px 2.37px rgba(0, 0, 0, 0.25), -2.5px -2.5px 4.73px #fff,
    -1.2px -1.2px 1.18px #fff, 3px 3px 4.14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.restaurant2 {
  height: 29px;
  position: relative;
  font-size: 25px;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.component-22 {
  cursor: pointer;
  border: 0;
  padding: 21px 21px 22px;
  background-color: #d27c2c;
  align-self: stretch;
  border-radius: 5.32px;
  box-shadow: 0 2.4px 2.37px rgba(0, 0, 0, 0.25), -2.5px -2.5px 4.73px #fff,
    -1.2px -1.2px 1.18px #fff, 3px 3px 4.14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.component-2-parent {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 140px;
  min-width: 200px;
}
.restaurant-frame {
  width: 418px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.admin-frame,
.vector-rectangle {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-rectangle {
  width: 930px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.admin-frame {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 53px;
  gap: 44px;
  background-image: url(./public/topviewfoodframewithcopyspace-232148723447-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
}
.footerframe,
.logo-1-icon {
  position: absolute;
  margin: 0 !important;
}
.logo-1-icon {
  width: 176px;
  top: 10px;
  right: 210px;
  height: 183px;
  object-fit: cover;
}
.footerframe {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.company {
  height: 47.3px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.about-us,
.contact,
.help,
.jobs,
.privacy-notice,
.terms-condition {
  margin: 0;
}
.help-about-us-container {
  height: 180.7px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.companytext,
.jobsframe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.jobsframe {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
}
.companytext {
  width: 178px;
  flex-direction: column;
  padding: 0 1px 0 0;
  box-sizing: border-box;
}
.download-the-app {
  position: relative;
  line-height: 133.12%;
  font-weight: 500;
  z-index: 1;
}
.privacynoticeframe {
  width: 258px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us {
  height: 47.3px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.contactusframe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.pajamasmail-icon,
.primephone-icon,
.tdesignlocation-icon {
  width: 32px;
  height: 31.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pajamasmail-icon,
.tdesignlocation-icon {
  width: 30px;
  height: 29.6px;
}
.primephoneinstance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.vectorentyposocialfacebookvect {
  height: 47.3px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.kvmet2023gmailcom {
  white-space: nowrap;
}
.kvmet2023gmailcom,
.sri-lanka {
  height: 47.3px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.fabrandssquaretwittervector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.logotext {
  flex-direction: column;
  padding: 4px 0 0;
}
.downloadtext,
.logotext,
.tdesignlocationlogo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tdesignlocationlogo {
  flex-direction: row;
  gap: 24px;
}
.downloadtext {
  height: 189px;
  width: 352px;
  flex-direction: column;
  max-width: 100%;
}
.fa6-brandssquare-twitter-icon,
.logo {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  
}
.logo {
  height: 47.3px;
  font-weight: 500;
  display: inline-block;
}
.fa6-brandssquare-twitter-icon {
  height: 28.9px;
  width: 27px;
  overflow: hidden;
  margin-top: -30px;
}
.entypo-socialfacebook-icon,
.footer-frame-icon2 {
  height: 25.3px;
  width: 27px;
  position: relative;
  z-index: 1;
  margin-top: -30px;
}
.entypo-socialfacebook-icon {
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -30px;
}
.social-media-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1px 0 0;
  gap: 19px;
}
.helpframe,
.logo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 125px;
}
.helpframe {
  flex-direction: row;
  gap: 46px;
  max-width: 100%;
}
.company-text {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #3f4e4f;
  box-sizing: border-box;
  z-index: 1;
}
.rectanglefooter {
  width: 1248px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  max-width: 100%;
}
.chsghjsdgjvhsdgd-jhvj-ideikshf,
.dbv-dvbd-dsjhalk,
.dhvghsvj-dsjhksj-sdh,
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd1 {
  margin: 0;
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd {
  width: 324px;
  height: 165.6px;
  position: relative;
  font-weight: 300;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.for-your-queriescall {
  margin: 0;
}
.for-your-queriescall-container {
  width: 762px;
  height: 32.8px;
  position: relative;
  line-height: 133.12%;
  font-weight: 200;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-decoration: none;
  max-width: 100%;
  z-index: 1;
}
.footer {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: 37px 37px 53px;
  box-sizing: border-box;
  gap: 54px;
  max-width: 100%;
  z-index: 1;
}
.footer,
.location-frame,
.user-registration-admin {
  position: relative;
  display: flex;
  flex-direction: column;
}
.location-frame {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 20px;
  color: #3f4e4f;
  font-family: Inter;
}
.user-registration-admin {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .component-1 {
    padding-left: 106px;
    box-sizing: border-box;
  }
  .helpframe {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .home-parent {
    display: none;
  }
  .logout-button {
    width: 0;
  }
  .component-1 {
    gap: 33px;
    padding-left: 53px;
    box-sizing: border-box;
  }
  .admin-frame {
    gap: 22px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .helpframe {
    gap: 23px;
  }
  .footer {
    gap: 27px;
  }
}
@media screen and (max-width: 450px) {
  .component-1 {
    gap: 17px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .component-frame {
    flex: 1;
  }
  .restaurant,
  .restaurant1,
  .restaurant2 {
    font-size: 20px;
  }
  .component-2-parent {
    flex: 1;
  }
  .restaurant-frame {
    flex-wrap: wrap;
  }
  .company,
  .help-about-us-container {
    font-size: 16px;
  }
  .download-the-app {
    font-size: 16px;
    line-height: 21px;
  }
  .contact-us,
  .hjhjkfshjs-dvjhvjhsvkjhvdkjhvd,
  .kvmet2023gmailcom,
  .logo,
  .sri-lanka,
  .vectorentyposocialfacebookvect {
    font-size: 16px;
  }
  .for-your-queriescall-container {
    font-size: 16px;
    line-height: 21px;
  }
  .footer {
    padding-top: 24px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
