.f-354462593-vqgmqfjsy2lagusmdx-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.rectangle-shape,
.rectangle-shape-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangle-shape {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-shape-wrapper {
  margin: 0 !important;
}
.frame-icon {
  width: 51px;
  position: absolute;
  margin: 0 !important;
  top: 35px;
  left: 1349px;
  height: 59px;
  object-fit: cover;
  z-index: 1;
}
.home,
.wallet {
  position: relative;
  line-height: 133.12%;
}
.home {
  height: 57px;
  width: 83px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.wallet {
  height: 53px;
}
.registration,
.update-menu,
.wallet {
  display: flex;
  align-items: flex-end;
}
.registration {
  height: 67px;
  position: relative;
  line-height: 133.12%;
}
.update-menu {
  height: 65px;
  white-space: nowrap;
}
.order,
.update,
.update-menu {
  position: relative;
  line-height: 133.12%;
}
.order {
  height: 53px;
  display: flex;
  align-items: flex-end;
}
.update {
  height: 45px;
}
.log-out,
.nav-menu,
.update {
  display: flex;
  align-items: flex-end;
}
.log-out {
  height: 40px;
  position: relative;
  line-height: 133.12%;
  white-space: nowrap;
}
.nav-menu {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.component-6,
.nav-menu-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nav-menu-wrapper {
  width: 1070px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 10px;
}
.component-6 {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.75);
  flex-direction: row;
  align-items: flex-end;
  padding: 17px 40px 6px 212px;
  position: sticky;
  gap: 67px;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
.rice-curry {
  position: relative;
  font-size: 25px;
  line-height: 133.12%;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.rice-curry-wrapper {
  cursor: pointer;
  border: 0;
  padding: 7px;
  background-color: #d27c2c;
  flex: 1;
  border-radius: 15px 15px 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 115px;
  z-index: 1;
}
.rice-curry-container:hover,
.rice-curry-wrapper:hover {
  background-color: #b86312;
}
.rice-curry1 {
  position: relative;
  font-size: 25px;
  line-height: 133.12%;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.rice-curry-container {
  cursor: pointer;
  border: 0;
  padding: 7px;
  background-color: #d27c2c;
  flex: 1;
  border-radius: 15px 15px 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 115px;
  z-index: 1;
}
.inner-frame,
.inner-frame-wrapper,
.main-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.inner-frame {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 27px;
}
.inner-frame-wrapper,
.main-frame {
  box-sizing: border-box;
}
.inner-frame-wrapper {
  width: 429px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 24px;
}
.main-frame {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 534px;
  gap: 9px;
  background-image: url(./public/360-f-354462593-vqgmqfjsy2lagusmdx7ljewu0eyq5apr-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame,
.logo-1-icon {
  position: absolute;
  margin: 0 !important;
}
.logo-1-icon {
  width: 176px;
  top: 10px;
  right:210px;
  height: 183px;
  object-fit: cover;
}
.frame {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.company {
  height: 46.2px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.about-us,
.contact,
.help,
.jobs,
.privacy-notice,
.terms-condition {
  margin: 0;
}
.help-about-us-container {
  height: 176.4px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.help-text-frame,
.text-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.help-text-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
}
.text-frame {
  width: 178px;
  flex-direction: column;
  padding: 0 1px 0 0;
  box-sizing: border-box;
}
.download-the-app {
  position: relative;
  line-height: 133.12%;
  font-weight: 500;
  z-index: 1;
}
.footer-frame1 {
  width: 258px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us {
  height: 46.2px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.home-wallet-registration-updat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.pajamasmail-icon,
.primephone-icon,
.tdesignlocation-icon {
  width: 32px;
  height: 30.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pajamasmail-icon,
.tdesignlocation-icon {
  width: 30px;
  height: 28.9px;
}
.rice-curry-frames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.vector-social-links {
  height: 46.2px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.kvmet2023gmailcom {
  white-space: nowrap;
}
.kvmet2023gmailcom,
.sri-lanka {
  height: 46.2px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.logo-text-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.kvmetgmailcom-sri-lanka {
  flex-direction: column;
  padding: 4px 0 0;
}
.kvmetgmailcom-sri-lanka,
.logout-frame,
.secondary-text-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-frame {
  flex-direction: row;
  gap: 24px;
}
.secondary-text-frame {
  height: 185px;
  width: 352px;
  flex-direction: column;
  max-width: 100%;
}
.fa6-brandssquare-twitter-icon,
.logo {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.logo {
  height: 46.2px;
  font-weight: 500;
  display: inline-block;
}
.fa6-brandssquare-twitter-icon {
  height: 28.3px;
  width: 27px;
  overflow: hidden;
  margin-top: -30px;
}
.entypo-socialfacebook-icon,
.for-your-queries-text {
  height: 24.7px;
  width: 27px;
  position: relative;
  z-index: 1;
  margin-top: -30px;
}
.entypo-socialfacebook-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.line-separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1px 0 0;
  gap: 19px;
}
.call-us-query-frame,
.help-about-us-jobs-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 122px;
}
.help-about-us-jobs-contact {
  flex-direction: row;
  gap: 46px;
  max-width: 100%;
}
.via-or-email-text {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #3f4e4f;
  box-sizing: border-box;
  z-index: 1;
}
.help-about-us-jobs-contact-parent {
  width: 1248px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
}
.chsghjsdgjvhsdgd-jhvj-ideikshf,
.dbv-dvbd-dsjhalk,
.dhvghsvj-dsjhksj-sdh,
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd1 {
  margin: 0;
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd {
  width: 324px;
  height: 161.7px;
  position: relative;
  font-weight: 300;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.for-your-queriescall {
  margin: 0;
}
.for-your-queriescall-container {
  width: 762px;
  height: 32px;
  position: relative;
  line-height: 133.12%;
  font-weight: 200;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-decoration: none;
  max-width: 100%;
  z-index: 1;
}
.footer {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: 36px 36px 51px;
  box-sizing: border-box;
  gap: 53px;
  max-width: 100%;
  z-index: 1;
}
.delevery-admin,
.footer,
.footer-frame {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-frame {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 20px;
  color: #3f4e4f;
  font-family: Inter;
}
.delevery-admin {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .component-6 {
    padding-left: 106px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .help-about-us-jobs-contact {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .nav-menu {
    display: none;
  }
  .nav-menu-wrapper {
    width: 0;
  }
  .component-6 {
    gap: 33px;
    padding-left: 53px;
    box-sizing: border-box;
  }
  .main-frame {
    padding-bottom: 347px;
    box-sizing: border-box;
  }
  .help-about-us-jobs-contact {
    gap: 23px;
  }
  .footer {
    gap: 26px;
  }
}
@media screen and (max-width: 450px) {
  .component-6 {
    gap: 17px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .rice-curry,
  .rice-curry1 {
    font-size: 20px;
    line-height: 27px;
  }
  .company,
  .help-about-us-container {
    font-size: 16px;
  }
  .download-the-app {
    font-size: 16px;
    line-height: 21px;
  }
  .contact-us,
  .hjhjkfshjs-dvjhvjhsvkjhvdkjhvd,
  .kvmet2023gmailcom,
  .logo,
  .sri-lanka,
  .vector-social-links {
    font-size: 16px;
  }
  .for-your-queriescall-container {
    font-size: 16px;
    line-height: 21px;
  }
  .footer {
    padding-top: 23px;
    padding-bottom: 33px;
    box-sizing: border-box;
  }
}
