.th08812-1-scaled-1-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.frame-home,
.frame-home-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-home {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-home-wrapper {
  margin: 0 !important;
}
.update-logout-frame {
  width: 51px;
  position: absolute;
  margin: 0 !important;
  top: 35px;
  left: 1349px;
  height: 59px;
  object-fit: cover;
  z-index: 1;
}
.home,
.wallet {
  position: relative;
  line-height: 133.12%;
  display: flex;
  align-items: flex-end;
}
.home {
  height: 57px;
  width: 83px;
  flex-shrink: 0;
}
.wallet {
  height: 53px;
}
.registration {
  height: 67px;
}
.log-out,
.order,
.registration,
.update,
.update-menu {
  position: relative;
  line-height: 133.12%;
  display: flex;
  align-items: flex-end;
}
.update-menu {
  height: 65px;
  white-space: nowrap;
}
.log-out,
.order,
.update {
  height: 53px;
}
.log-out,
.update {
  height: 45px;
}
.log-out {
  height: 40px;
  white-space: nowrap;
}
.registration-update-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.component-5,
.rice-curry-frame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rice-curry-frame {
  width: 1070px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 10px;
}
.component-5 {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.75);
  flex-direction: row;
  align-items: flex-end;
  padding: 17px 40px 6px 212px;
  position: sticky;
  gap: 67px;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
.rice-curry {
  position: relative;
  font-size: 25px;
  line-height: 133.12%;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.rice-curry-wrapper {
  cursor: pointer;
  border: 0;
  padding: 7px;
  background-color: #d27c2c;
  flex: 1;
  border-radius: 15px 15px 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 115px;
  z-index: 1;
}
.rice-curry-container:hover,
.rice-curry-wrapper:hover {
  background-color: #b86312;
}
.rice-curry1 {
  position: relative;
  font-size: 25px;
  line-height: 133.12%;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.rice-curry-container {
  cursor: pointer;
  border: 0;
  padding: 7px;
  background-color: #d27c2c;
  flex: 1;
  border-radius: 15px 15px 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 115px;
  z-index: 1;
}
.frame-rice,
.home-wallet-frame {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-rice {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  max-width: 100%;
}
.home-wallet-frame {
  width: 427px;
  padding: 0 23px;
}
.home-wallet-frame,
.logo-frame,
.menu-frame {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.menu-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 1px 556px 0;
  gap: 9px;
  background-image: url(./public/2th088121scaled-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logo-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
}
.logo-1-icon {
  position: absolute;
  top: 10px;
  right: 210px;
  width: 176px;
  height: 183px;
  object-fit: cover;
}
.rectangle-footer {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.company {
  height: 46.2px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.about-us,
.contact,
.help,
.jobs,
.privacy-notice,
.terms-condition {
  margin: 0;
}
.help-about-us-container {
  height: 176.4px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 1;
}
.about-us-jobs-frame,
.footer-rectangle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-rectangle {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
}
.about-us-jobs-frame {
  width: 178px;
  flex-direction: column;
  padding: 0 1px 0 0;
  box-sizing: border-box;
}
.download-the-app {
  position: relative;
  line-height: 133.12%;
  font-weight: 500;
  z-index: 1;
}
.contact-help-frame {
  width: 258px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us {
  height: 46.2px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.location-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.pajamasmail-icon,
.primephone-icon,
.tdesignlocation-icon {
  width: 32px;
  height: 30.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pajamasmail-icon,
.tdesignlocation-icon {
  width: 30px;
  height: 28.9px;
}
.primephone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.rice-curry-rectangle {
  height: 46.2px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.kvmet2023gmailcom {
  white-space: nowrap;
}
.kvmet2023gmailcom,
.sri-lanka {
  height: 46.2px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-rice-curry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.social-media-vector {
  flex-direction: column;
  padding: 4px 0 0;
}
.contact-us-text,
.pajamasmailtdesignlocation,
.social-media-vector {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pajamasmailtdesignlocation {
  flex-direction: row;
  gap: 24px;
}
.contact-us-text {
  height: 185px;
  width: 352px;
  flex-direction: column;
  max-width: 100%;
}
.fa6-brandssquare-twitter-icon,
.logo {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.logo {
  height: 46.2px;
  font-weight: 500;
  display: inline-block;
}
.fa6-brandssquare-twitter-icon {
  height: 28.3px;
  width: 27px;
  overflow: hidden;
  margin-top: -30px;
}
.entypo-socialfacebook-icon,
.fabrandssquaretwitter-vectoren-icon {
  height: 24.7px;
  width: 27px;
  position: relative;
  z-index: 1;
  margin-top: -30px;
}
.entypo-socialfacebook-icon {
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -30px;
}
.fabrandssquaretwitter-vectoren {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1px 0 0;
  gap: 19px;
}
.help-frame,
.line-queries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 122px;
}
.help-frame {
  flex-direction: row;
  gap: 46px;
  max-width: 100%;
}
.for-your-queries-callus-via-or {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #3f4e4f;
  box-sizing: border-box;
  z-index: 1;
}
.company-frame {
  width: 1248px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
}
.chsghjsdgjvhsdgd-jhvj-ideikshf,
.dbv-dvbd-dsjhalk,
.dhvghsvj-dsjhksj-sdh,
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd1 {
  margin: 0;
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd {
  width: 324px;
  height: 161.7px;
  position: relative;
  font-weight: 300;
  display: none;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.for-your-queriescall {
  margin: 0;
}
.for-your-queriescall-container {
  width: 762px;
  height: 32px;
  position: relative;
  line-height: 133.12%;
  font-weight: 200;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-decoration: none;
  max-width: 100%;
  z-index: 1;
}
.footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 36px 36px 51px;
  box-sizing: border-box;
  gap: 53px;
  height: 100%;
  max-width: 100%;
  z-index: 1;
}
.logo-rectangle {
  align-self: stretch;
  height: 412px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #3f4e4f;
  font-family: Inter;
}
.resturant-admin {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .component-5 {
    padding-left: 106px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .help-frame {
    flex-wrap: wrap;
  }
  .logo-rectangle {
    height: auto;
    min-height: 412;
  }
}
@media screen and (max-width: 750px) {
  .registration-update-frame {
    display: none;
  }
  .rice-curry-frame {
    width: 0;
  }
  .component-5 {
    gap: 33px;
    padding-left: 53px;
    box-sizing: border-box;
  }
  .menu-frame {
    padding-bottom: 361px;
    box-sizing: border-box;
  }
  .help-frame {
    gap: 23px;
  }
  .footer {
    gap: 26px;
  }
}
@media screen and (max-width: 450px) {
  .component-5 {
    gap: 17px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .rice-curry,
  .rice-curry1 {
    font-size: 20px;
    line-height: 27px;
  }
  .company,
  .help-about-us-container {
    font-size: 16px;
  }
  .download-the-app {
    font-size: 16px;
    line-height: 21px;
  }
  .contact-us,
  .hjhjkfshjs-dvjhvjhsvkjhvdkjhvd,
  .kvmet2023gmailcom,
  .logo,
  .rice-curry-rectangle,
  .sri-lanka {
    font-size: 16px;
  }
  .for-your-queriescall-container {
    font-size: 16px;
    line-height: 21px;
  }
}
